.chat_container{
   width: 300px;
   height: auto;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   
}

.match-post{
    display: flex;
    color: blue;
    justify-content: flex-start;
    border: 2px solid black;
    height: 30px;

}

.Loged_inn_user-post{
    
    display: flex;
    color: red;
    justify-content: flex-end;
    border: 2px solid black;
    height: 30px;
    
}