.chat_container{
   width: 300px;
   height: auto;
   border: 2px solid black;
}

.match-post{
    
}

.Loged_inn_user-post{
    
    display: flex;
    color: red;
    justify-content: flex-end;
    border: 2px solid black;
    height: 30px;
    
}