//import fonts
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");

//common
$logo-size: 16px;
$size-16: 16px;
$logo-font: "Voces";

.feed-container {
	background-color: white;
	font-family: $logo-font;
	padding: $size-16;
	flex: 1;
	display: flex;
	flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  margin: 0;
}

//match container
.match-container {
  img {
    height: 150px;
    width: 120px;
    border-radius: 8px;
  }
}

.matches {
  overflow-x: auto;
  // width: 360px;

  p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.match-info {
  text-align: center;
}

.no-match {
  text-align: center;
}

//message container
.msg-container {
  img {
    border-radius: 50%;
    height: 80px;
  }
}

.message-list {
		overflow-y: auto;
		max-height: 400px;
		display: flex;
		flex-direction: column;
}

.message-cards {
  display: flex;
  align-items: center;
  padding-bottom: $size-16;
}

.message-text {
  padding-left: $size-16;
}

.no-message {
  text-align: center;
}
