//common
.feed-container {
	background-color: white;
}

//match container
.match-container{
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: space-around;
}

.match-img {
	height: 150px;
	display: flex;
}

.match-info {
	margin-top: 20px;
	text-align: center;
}

//message container
.message-container{
	width: 100vw;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
}

h4 {
	margin-left: 20px;
}