//import fonts
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");

//common
$logo-size: 16px;
$size-16: 16px;
$logo-font: "Voces";

.feed-container {
  background-color: white;
  font-family: $logo-font;
  padding: $size-16;
}

a {
  text-decoration: none;
  color: inherit;
}

h5 {
  margin: 0;
}

//match container
.match-container {
  img {
    height: 150px;
    width: 120px;
    border-radius: 8px;
  }
}

.matches {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  padding-bottom: $size-16;
}

.match-info {
  text-align: center;
}

//message container
.message-container {
  height: 500px;

  img {
    border-radius: 50%;
    height: 80px;
  }
}

.message-list {
  overflow-y: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.message-cards {
  display: flex;
  align-items: center;
  padding-bottom: $size-16;
}

p {
  margin-left: $size-16;
}

// border-bottom: 1px solid lightgray;
