.footerContainer {
  display: flex;
  height: 30px;
  width: 100vw;
  background-color: #f4f1de;
  padding: 20px 0;
  align-self: flex-end;
  align-items: center;
  justify-content: space-evenly;

  .heartIcon {
    width: 40px;
    height: 40px;
  }

  .messageIcon {
    width: 40px;
    height: 40px;
  }

  a {
    padding: 8px;
  }

  svg {
    color: #4e4735;
  }
}
