@import "mixins";

$text-color: #f4f1de;
$background-color: #e07a5f;

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 82px);
  background-color: white;

  h1 {
    text-align: center;
    margin: 16px 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-content: center;
    justify-content: center;
    margin: 0 auto;

    .input-container {
      display: flex;
      width: 99%;
      margin-bottom: 16px;
      align-items: center;
      border: 1px solid black;
      border-radius: 8px;

      svg {
        padding: 10px;
        text-align: center;
      }
    }

    input {
      align-self: center;
      box-sizing: border-box;
      border: 0;
      border-radius: 8px;
      outline: none;
    }

    button {
      margin-top: 16px;
      width: 100%;
      border: none;
      padding: 12px;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      background-color: $background-color;
    }

    .signup-info {
      p {
        font-weight: bold;
      }
      a {
        font-weight: bold;
        color: black;
      }
    }
  }
}
