@mixin button-style {
  background-color: #e07a5f;
  color: white;
  width: 90px;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

@mixin form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
