$logo-size: 50px;
$text-color: #f4f1de;
$background-color: #e07a5f;

//import fonts
@import url("https://fonts.googleapis.com/css2?family=Voces&display=swap");

.navbar {
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  

  .dropdown-menu {
    position: relative;
    height: $logo-size;

    .profile-img {
      height: $logo-size;
      width: $logo-size;
      object-fit: cover;
      border-radius: 50%;
      background-color: $text-color;
      border: 2px solid $text-color;
    }

    .menu-items {
      z-index: 1000;
      position: absolute;
      right: -17px;
      top: 66px;
      height: fit-content;
      padding: 16px;
      border-left: 1px solid rgba(36, 36, 36, 0.473);
      border-bottom-left-radius: 8px;
      border-bottom: 1px solid rgba(36, 36, 36, 0.473);
      animation: growDown 100ms ease-in-out forwards;

      .profile-name {
        margin: 0;
        font-weight: bold;
        padding: 8px 0;
      }

      div {
        display: flex;
        align-items: center;
        border-top: 1px solid rgba(85, 85, 85, 0.192);
        white-space: nowrap;
        padding: 12px 0;

        p {
          margin: 0;
        }

        p:hover,
        p:active {
          text-shadow: 1px 0 0 currentColor;
        }

        svg {
          margin-right: 8px;
        }
      }

      background-color: white;
      a {
        color: black;
      }
    }
  }

  .logo {
    display: flex;
    height: $logo-size;

    img {
      height: $logo-size;
      width: $logo-size;
      margin-right: 8px;
      align-self: center;
      filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(1550%)
        hue-rotate(336deg) brightness(102%) contrast(92%);
    }
    h1 {
      color: $text-color;
      margin: 0;
      padding: 0;
      height: $logo-size;
      font-family: "Voces", cursive;
      align-self: center;
    }
  }

  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $text-color;
  }
}

.login-button {
  font-size: larger;
  font-size: 22px;
}

@keyframes growDown {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
