@import "mixins";

.sign-up {
  @include form-style;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;

  & > * {
    margin-bottom: 10px;
  }

  .form-error-text {
    text-align: center;
  }

  .two-column-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input-label {
      width: 45%;
      position: relative;

      ul {
        position: absolute;
        list-style: none;
        width: fit-content;
        padding: 0;
        margin: 0 auto;
        left: 0;
        li {
          background-color: white;
          border: 1px solid black;
          padding: 3px;
          font-size: 14px;
        }
      }
    }
  }

  .input-label {
    display: flex;
    flex-direction: column;
  }

  .input-style {
    border-radius: 8px;
  }

  .input-style-sex {
    background-color: white;
    border-radius: 8px;
  }

  .profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #e07a5f;
    }

    .input-label {
      text-align: center;
      margin-top: 10px;
    }

    .picture-input {
      border-style: none;
      font-style: italic;
      width: 11rem;
    }
  }

  .input-style-surname {
    margin-right: 10px;
  }

  select {
    padding: 1px 2px;
    border-radius: 2px;
    height: 35px;
  }

  .text-area-style {
    height: 70px;
    border-radius: 8px;
  }

  .buttons-sign-up-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;

    .sign-up-button {
      @include button-style;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    .cancel-button-link {
      @include button-style;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      a:visited {
        color: white;
      }
    }
  }
}
