@import "swipecard";
@import "autocomplete";
@import "chat";
@import "login";
@import "swipecard";
// @import 'autocomplete';
@import "navbar";
@import "chat";
@import "signup";
@import "edit";
@import "homepage";
@import "loadingdog";
@import "footer";
@import "feed";
@import "profile";
@import "about";

body,
html,
#root {
  background-image: url("https://media.istockphoto.com/photos/blurred-public-park-nature-green-background-picture-id1046851064?k=20&m=1046851064&s=170667a&w=0&h=tN0euy2v6AyoMsMmvWeDyHVmIGlRLLDZH2J6ISl5DJo=");
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

.clearfix {
  clear: both;
  display: table;
}
